# Node modules
node_modules/

# Video hasil Playwright
videos/

# Playwright test results & traces
test-results/
trace.zip

# Log file
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db
